/*- Footer -*/
.wrap-footer {
  position: relative;
  background: #cec8c8;
  color: white;
  padding: 60px 0;
  .container {
    justify-content: center;
    align-items: center;
    .footer-left {
      margin-right: 28px;
      .footer-logo {
        width: 120px;
        margin: 0 auto 12px;
      }
      .wrap-social {
        align-items: center;
        justify-content: center;
        .facebook, .instagram, .line, .service {
          width: 30px;
          height: 30px;
          margin: 0 4px;
        }
      }
    }
    .footer-right {
      h4.footer-title {
        margin: 0 0 12px;
        font-size: .875rem;
        letter-spacing: 1px;
      }
      .footer-connect p, .footer-connect .email{
        margin: 0 0 6px;
        font-size: .875rem;
        letter-spacing: 1.4px;
        color: white;
      }
    }
  }
  .footer-line {
    border-bottom: .5px solid rgba(255,255,255,.3);
    height: .5px;
    width: 500px;
    margin: 24px auto 18px;
    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }
  .copyright {
    font-weight: bold;
    letter-spacing: 1.4px;
    width: 500px;
    margin: 0 auto 12px;
    text-align: right;
    font-size: .875rem;
    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }
  .make-arrow {
    cursor: pointer;
    position: absolute;
    right: -35px;
    top: 108px;
    display: inline;
    transform: translateY(0px) rotate(-90deg);
    margin: 0;
    animation: infiniteFade 1.8s linear infinite;
    @keyframes infiniteFade {
      0% {
        transform: translateY(-6px) rotate(-90deg);
      }
      50% {
        transform: translateY(6px) rotate(-90deg);
      }
      100% {
        transform: translateY(-6px) rotate(-90deg);
      }
    }
    .icon-line {
      border: solid #4d4d4d;
      border-width: 0 0px 1px 0;
      display: inline-block;
      width: 120px;
      transform: translateY(-4px);
    }
    .icon-arrow {
      border: solid #4d4d4d;
      border-width: 0 0px 1px 0;
      display: inline-block;
      padding: 4px;
      transform: translate(-10px, -1px) rotate(-35deg)
    }
  }
}
@media screen and (max-width: 768px) {
  .wrap-footer {
    padding: 40px 0;
    .container {
      flex-direction: column;
      .footer-left {
        margin: 0 0 20px 0;
      }
      .footer-right {
        text-align: center;
        h4.footer-title {
          margin: 0 0 8px;
          font-size: .875rem;
          letter-spacing: 1px;
        }
        .footer-connect p, .footer-connect .email{
          margin: 0 0 4px;
        }
      }
    }
    .footer-line {
      width: 80%;
      margin: 18px auto 18px;
    }
    .copyright {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    .make-arrow {
      right: -35px;
      top: 70px;
      .icon-line {
        border: solid #4d4d4d;
        border-width: 0 0px 1px 0;
        display: inline-block;
        width: 100px;
        transform: translateY(-4px);
      }
      .icon-arrow {
        border: solid #4d4d4d;
        border-width: 0 0px 1px 0;
        display: inline-block;
        padding: 4px;
        transform: translate(-10px, -1px) rotate(-35deg)
      }
    }
  }
}