.noScroll {
  -webkit-overflow: hidden;
  overflow: hidden;
  height: 100%;
  touch-action: none;
  -ms-touch-action: none;
}

/*- Header -*/
.wrap-header {
  width: 100%;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  /* fixed->sticky */
  top: 0;
  background: #f9f9f7;
  z-index: 99;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Roboto", "Noto Sans TC";
  color: #4d4d4d;
}

.wrap-header.active {
  background: #ebe9ea;
}

.wrap-header h1.logo {
  margin: 0;
  height: 80px;
  line-height: 80px;
}

.wrap-header h1.logo figure {
  width: 160px;
  height: 80px;
  margin: 0 auto;
}

.wrap-header .wrap-right {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-header .wrap-right .login {
  width: 36px;
  margin-right: 18px;
}

.wrap-header .wrap-right .menu {
  width: 24px;
  margin-right: 18px;
  cursor: pointer;
}

.wrap-header .wrap-right .menu.active:before {
  -webkit-animation: rotateUp 0.2s ease-out forwards;
          animation: rotateUp 0.2s ease-out forwards;
}

.wrap-header .wrap-right .menu.active:after {
  -webkit-animation: rotateDown 0.2s ease-out forwards;
          animation: rotateDown 0.2s ease-out forwards;
}

.wrap-header .wrap-right .menu.active .bar {
  -webkit-animation: rotate45 0.2s ease-out forwards;
          animation: rotate45 0.2s ease-out forwards;
}

.wrap-header .wrap-right .menu.back:before {
  -webkit-animation: rotate90 0.2s ease-out forwards;
          animation: rotate90 0.2s ease-out forwards;
}

.wrap-header .wrap-right .menu.back:after {
  -webkit-animation: rotate90 0.2s ease-out forwards;
          animation: rotate90 0.2s ease-out forwards;
}

.wrap-header .wrap-right .menu.back .bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: rotateBack 0.2s ease-out forwards;
          animation: rotateBack 0.2s ease-out forwards;
}

.wrap-header .wrap-right .menu:before {
  content: "";
  display: block;
  width: 14px;
  height: 3px;
  background: #4d4d4d;
}

.wrap-header .wrap-right .menu:after {
  content: "";
  display: block;
  width: 14px;
  height: 3px;
  background: #4d4d4d;
  margin-left: auto;
}

.wrap-header .wrap-right .menu .bar {
  display: block;
  width: 24px;
  height: 3px;
  background: #4d4d4d;
  margin: 4px 0;
}

@-webkit-keyframes rotateDown {
  from {
    opacity: 1;
    -webkit-transform: translate(0) rotate(-45deg);
            transform: translate(0) rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-2px, -4px) rotate(-135deg);
            transform: translate(-2px, -4px) rotate(-135deg);
  }
}

@keyframes rotateDown {
  from {
    opacity: 1;
    -webkit-transform: translate(0) rotate(-45deg);
            transform: translate(0) rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-2px, -4px) rotate(-135deg);
            transform: translate(-2px, -4px) rotate(-135deg);
  }
}

@-webkit-keyframes rotateUp {
  from {
    -webkit-transform: translate(0) rotate(-45deg);
            transform: translate(0) rotate(-45deg);
  }
  to {
    -webkit-transform: translate(2px, 4px) rotate(-135deg);
            transform: translate(2px, 4px) rotate(-135deg);
  }
}

@keyframes rotateUp {
  from {
    -webkit-transform: translate(0) rotate(-45deg);
            transform: translate(0) rotate(-45deg);
  }
  to {
    -webkit-transform: translate(2px, 4px) rotate(-135deg);
            transform: translate(2px, 4px) rotate(-135deg);
  }
}

@-webkit-keyframes rotate45 {
  to {
    width: 24px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes rotate45 {
  to {
    width: 24px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes rotateBack {
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotateBack {
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes rotate90 {
  from {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotate90 {
  from {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.wrap-header .wrap-menu-list {
  background: #ebe9ea;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wrap-header .wrap-menu-list.active {
  height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
}

.wrap-header .wrap-menu-list .menu-type-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  max-width: 1366px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0 0;
}

.wrap-header .wrap-menu-list .menu-type-container .menu-type {
  font-weight: bold;
  font-size: 0.875rem;
}

.wrap-header .wrap-menu-list .menu-type-container .menu-type .menu-list-container {
  padding: 0;
  margin: 48px 0 24px;
}

.wrap-header .wrap-menu-list .menu-type-container .menu-type .menu-list-container .menu-list {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 24px 0;
}

.wrap-header .wrap-menu-list .menu-type-container .menu-type .menu-list-container .menu-list a {
  color: #4d4d4d;
}

.wrap-header .wrap-menu-list .menu-type-container .menu-type .menu-list-container .menu-list a:focus, .wrap-header .wrap-menu-list .menu-type-container .menu-type .menu-list-container .menu-list a:hover {
  color: #4d4d4d;
}

.wrap-header .wrap-menu-list .wrap-menu-footer {
  margin-bottom: 24px;
}

.wrap-header .wrap-menu-list .wrap-menu-footer .hr-line {
  margin: 12px 12px;
}

.wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social {
  margin: 24px 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social .social-text {
  line-height: 24px;
  font-size: 0.875rem;
  font-weight: bold;
  margin-right: 12px;
}

.wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social .icon-star,
.wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social .facebook,
.wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social .instagram {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

@media screen and (max-width: 768px) {
  .wrap-header {
    height: 60px;
  }
  .wrap-header h1.logo {
    height: 60px;
    line-height: 60px;
  }
  .wrap-header h1.logo figure {
    width: 100px;
    height: 30px;
  }
  .wrap-header .wrap-right .login {
    margin-right: 6px;
  }
  .wrap-header .wrap-right .menu {
    margin-right: 12px;
  }
  .wrap-header .wrap-menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 0px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .wrap-header .wrap-menu-list.active {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    height: calc(var(--vh, 1vh) * 100);
    max-height: calc(var(--vh, 1vh) * 100);
  }
  .wrap-header .wrap-menu-list .menu-type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    padding: 5% 0 0;
  }
  .wrap-header .wrap-menu-list .menu-type-container .menu-type .menu-list-container {
    margin: 5% 0 8%;
  }
  .wrap-header .wrap-menu-list .menu-type-container .menu-type .menu-list-container .menu-list {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 3% 0;
  }
  .wrap-header .wrap-menu-list .wrap-menu-footer {
    margin-bottom: 100px;
  }
  .wrap-header .wrap-menu-list .wrap-menu-footer .hr-line {
    margin: 12px 8px;
  }
  .wrap-header .wrap-menu-list .wrap-menu-footer .hr-line img {
    height: 1px;
  }
  .wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social {
    margin: 8px 24px 12px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social .social-text {
    line-height: 18px;
    font-size: 0.875rem;
    font-weight: bold;
    margin-right: 8px;
  }
  .wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social .icon-star,
  .wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social .facebook,
  .wrap-header .wrap-menu-list .wrap-menu-footer .wrap-menu-social .instagram {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}
/*# sourceMappingURL=header-nohome.css.map */