/*- common -*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PingFangTC", 微軟正黑體, "Roboto Slab", serif;
  background: #f5f0e3;
  color: #483429;
}
body * {
  box-sizing: border-box;
}
* {
  -webkit-overflow-scrolling: touch;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
ul {
  list-style: none;
}
figure {
  margin: 0;
  padding: 0;
}
img {
  /* 消圖片下面白邊 */
  vertical-align: middle;
}
img.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img.object-fit-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  .phonemode-hidden {
    display: none;
  }
}
@media screen and (max-width: 944px) {
  .phonemode-show {
    display: block;
  }
}
/*- header -*/
header.header {
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}
/*- main -*/
.fixed-btn-golight {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 1000;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.1);
  &.active {
    display: block;
  }
  .btn-primary {
    background: #bb6b5e;
    box-shadow: 8px 8px 0 0 #8f5342;
    padding: 24px 80px;
    border-radius: 50px;
    font-size: 48px;
    color: white;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    width: 85%;
    animation: scaleBtn 1.5s infinite linear;
    max-width: 600px;
    margin: 16px 0;
    @media screen and (max-width: 1440px) {
      font-size: 28px;
      padding: 18px 80px;
      width: 60%;
    }
    @media screen and (max-width: 944px) {
      font-size: 36px;
      padding: 16px 0;
      width: 85%;
      box-shadow: 3px 5px 0 0 #8f5342;
    }
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
  @keyframes scaleBtn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}
.wrap-kv {
  position: relative;
  padding: 56px 75px 0;
  background: url("../images/bg-section01.png") no-repeat center bottom 60px;
  background-size: 100% auto;
  @media screen and (max-width: 1440px) {
    padding: 24px 90px 0;
  }
  @media screen and (max-width: 944px) {
    padding: 0 0px 0;
    transform: translateY(-15px);
  }
  .kv-pc {
    @media screen and (max-width: 944px) {
      display: none;
    }
  }
  .kv-mobile {
    display: none;
    @media screen and (max-width: 944px) {
      display: block;
    }
  }
  .wrap-btn {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    @media screen and (max-width: 1440px) {
      bottom: 36px;
    }
    @media screen and (max-width: 944px) {
      position: relative;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 100px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 24px;
    }
  }
  .btn-primary {
    background: #bb6b5e;
    box-shadow: 8px 8px 0 0 #8f5342;
    padding: 24px 80px;
    border-radius: 50px;
    font-size: 48px;
    color: white;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    animation: scaleBtn 1.5s infinite linear;
    @media screen and (max-width: 1440px) {
      font-size: 28px;
      padding: 18px 80px;
    }
    @media screen and (max-width: 944px) {
      font-size: 36px;
      padding: 16px 0;
      width: 100%;
      box-shadow: 3px 5px 0 0 #8f5342;
    }
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
  .btn-golight.active {
    position: fixed;
  }
  @keyframes scaleBtn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  .bracelet {
    position: absolute;
    width: 12%;
    bottom: 5%;
    right: 20%;
    @media screen and (max-width: 768px) {
      width: 25vw;
      height: 25vw;
      top: 26%;
      right: 10px;
    }
  }
  .teacher {
    position: absolute;
    top: 31%;
    left: 18%;
    width: 15%;
    @media screen and (max-width: 768px) {
      top: 41%;
      left: 10px;
      width: 45%;
    }
  }
}
.phraphrom-love-container {
  max-width: 1248px;
  margin: 0 auto;
  position: relative;
  padding: 0 24px;
}
.section-title {
  max-width: 720px;
  max-height: 160px;
}
.wrap-section2 {
  margin-bottom: 55px;
  .section2-title {
    transform: translateX(-45px);
    margin: 64px auto 50px;
    @media screen and (max-width: 944px) {
      padding: 50px 75px 0;
      transform: translateX(0px);
    }
    @media screen and (max-width: 768px) {
      padding: 24px 25px 0;
    }
  }
  .wrap-circle-card {
    display: flex;
    justify-content: center;
    align-items: center;
    .circle-card {
      &:not(:last-of-type) {
        margin-right: 120px;
        @media screen and (max-width: 768px) {
          margin-right: 8px;
        }
      }
      .card-img {
        width: 240px;
        height: 240px;
        margin: 0 auto 24px;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
        }
      }
      .card-title {
        font-size: 56px;
        color: #bb6b5e;
        text-align: center;
        margin-bottom: 24px;
        font-weight: 600;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}
.wrap-section3 {
  // background: #f5f0e3;
  background: url("../images/bg-wave-pink-01.png") #f5f0e3 no-repeat center
    bottom -36px;
  background-size: 100% auto;
  .warp-section3-title {
    padding-top: 50px;
    @media screen and (max-width: 944px) {
      padding: 50px 65px 0;
      background-size: cover;
    }
    @media screen and (max-width: 768px) {
      padding: 0px 25px 0;
    }
  }
  .section3-title {
    margin: 0 auto 54px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 768px) {
      margin: 0 auto 24px;
    }
  }
  .wrap-circle-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .circle-card {
      &:not(:last-of-type) {
        margin-right: 60px;
        @media screen and (max-width: 768px) {
          margin-right: 8px;
        }
      }
      .card-img {
        width: 240px;
        height: 240px;
        margin: 0 auto 24px;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
        }
      }
      .card-title {
        font-size: 56px;
        color: #bb6b5e;
        text-align: center;
        margin-bottom: 24px;
        font-weight: 600;
        @media screen and (max-width: 768px) {
          font-size: 16px;
          margin-bottom: 12px;
        }
      }
      .card-text {
        font-size: 36px;
        text-align: center;
        color: #4f5869;
        margin-bottom: 0;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
.wrap-section4 {
  padding-top: 90px;
  background: #ede2cb;
  @media screen and (max-width: 768px) {
    padding-top: 20px;
  }
  .youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 718px;
    height: 403px;
    margin: 0 auto 90px;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 24px;
      height: auto;
      margin-bottom: 24px;
    }
    .video {
      width: 718px;
      height: 403px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
      }
    }
  }
  .section4 {
    display: flex;
    align-items: center;
    padding: 0 50px;
    @media screen and (max-width: 575px) {
      padding: 0 18px;
    }
    .card {
      max-width: 414px;
      max-height: 414px;
      @media screen and (max-width: 944px) {
        width: 279px;
        height: 368px;
        flex-shrink: 0;
      }
      @media screen and (max-width: 768px) {
        width: 40%;
        height: auto;
        flex-shrink: 0;
      }
      @media screen and (max-width: 575px) {
        width: 40%;
        margin-right: 16px;
      }
    }
    .section4-right {
      margin-left: 56px;
      @media screen and (max-width: 944px) {
        margin-left: 24px;
      }
      @media screen and (max-width: 575px) {
        margin-left: 0;
      }
      .pc-section4-title {
        margin-bottom: 70px;
        @media screen and (max-width: 944px) {
          display: none;
        }
      }
      .section4-text {
        font-size: 24px;
        background: white;
        padding: 24px 26px;
        border-radius: 8px;
        @media screen and (max-width: 944px) {
          font-size: 36px;
        }
        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
        @media screen and (max-width: 575px) {
          font-size: 14px;
          padding: 12px;
        }
      }
    }
  }
  .mobile-sub-section4-title {
    display: none;
    @media screen and (max-width: 944px) {
      display: block;
      margin: 0 65px 50px;
    }
    @media screen and (max-width: 575px) {
      margin: 0 24px 24px;
    }
  }
  .warp-section4-title {
    padding-top: 50px;
    @media screen and (max-width: 944px) {
      padding: 50px 65px 0;
      background-size: cover;
    }
    @media screen and (max-width: 768px) {
      padding: 50px 25px 0;
    }
  }
  .section4-title {
    margin: 0 auto 54px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 768px) {
      margin: 0 auto 24px;
    }
  }
  .wrap-title-project {
    padding-top: 50px;
    background: url("../images/bg-wave-light.png") no-repeat center bottom -26px;
    background-size: 100% auto;
    @media screen and (max-width: 944px) {
      padding: 50px 65px 0;
    }
    @media screen and (max-width: 768px) {
      padding: 0px 25px 0;
    }
  }
  .title-project {
    margin: 90px auto 56px;
    width: 550px;
    height: 100px;
    @media screen and (max-width: 944px) {
      width: 100%;
      height: auto;
      padding: 0 130px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
      padding: 0 70px;
    }
    @media screen and (max-width: 575px) {
      margin: 36px auto;
      padding: 0 20px;
    }
  }
}
.wrap-section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .warp-project-light-detail {
    @media screen and (max-width: 944px) {
      padding: 50px 65px 0;
      background-size: cover;
    }
    @media screen and (max-width: 768px) {
      padding: 0px 25px 0;
    }
    .project-light-detail {
      margin: 0 auto 54px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 768px) {
        margin: 0 auto 24px;
      }
    }
  }

  .wrap-plan-card {
    position: relative;
    &:first-of-type {
      margin-right: 80px;
      margin-left: 24px;
      @media screen and (max-width: 944px) {
        margin-right: 48px;
      }
      @media screen and (max-width: 575px) {
        margin-right: 0;
        margin-bottom: 48px;
      }
    }
    .tag {
      width: 206px;
      height: 63px;
      position: absolute;
      left: -9px;
      top: 24px;
      @media screen and (max-width: 944px) {
        width: 120px;
        height: auto;
      }
    }
    @media screen and (max-width: 944px) {
      width: calc(50% - 64px);
    }
    @media screen and (max-width: 575px) {
      width: calc(100% - 48px);
    }
  }
  .outline {
    position: absolute;
    border: solid 1px #e87c4b;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    top: 16px;
    left: 16px;
    z-index: -1;
    @media screen and (max-width: 575px) {
      top: 8px;
      left: 8px;
    }
  }
  .plan-card {
    text-align: center;
    width: 960px;
    max-width: 960px;
    max-height: 500px;
    min-height: 500px;
    border-radius: 8px;
    padding: 30px 0;
    background: url("../images/dec-bg-wave.png") #fff no-repeat center bottom;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 944px) {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      max-height: 500px;
      min-height: auto;
    }
    .section5-intro-icon {
      width: 120px;
      height: 120px;
      margin: 0 auto 16px;
      @media screen and (max-width: 944px) {
        width: 100%;
        height: 100%;
        max-width: 120px;
        max-height: 120px;
      }
      @media screen and (max-width: 768px) {
        max-width: 60px;
        max-height: 60px;
      }
    }
    .plan-card-title {
      font-size: 48px;
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 16px;
      @media screen and (max-width: 944px) {
        font-size: 4vmin;
      }
      @media screen and (max-width: 575px) {
        font-size: 24px;
      }
    }
    .plan-card-price {
      font-size: 56px;
      font-weight: 600;
      color: #dc1f35;
      margin: 0 0 24px;
      @media screen and (max-width: 944px) {
        font-size: 5.5vmin;
      }
      @media screen and (max-width: 575px) {
        font-size: 36px;
        margin: 0 0 14px;
      }
    }
    .wrap-btn {
      @media screen and (max-width: 575px) {
        width: 80%;
      }
      .btn-primary {
        background: #bb6b5e;
        box-shadow: 8px 8px 0 0 #8f5342;
        padding: 16px 86px;
        border-radius: 50px;
        font-size: 32px;
        color: #f9f9f9;
        text-align: center;
        font-weight: 600;
        display: inline-block;
        margin: 0;
        cursor: pointer;
        @media screen and (max-width: 944px) {
          font-size: 3.5vmin;
          padding: 16px 0;
          width: 70%;
          box-shadow: 3px 5px 0 0 #8f5342;
        }
        @media screen and (max-width: 575px) {
          font-size: 18px;
          padding: 12px 0;
          width: 100%;
        }
      }
    }
  }
}
.wrap-section6 {
  background: url("../images/bg-wave-pink-02.png") #f5f0e3 no-repeat center top;
  background-size: 100% auto;
  @media screen and (max-width: 944px) {
    background-size: cover;
  }
  .wrap-btn {
    margin-top: 56px;
    margin-bottom: 90px;
    text-align: center;
    @media screen and (max-width: 944px) {
      margin: 56px 24px 48px;
    }
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    .btn-secondary {
      cursor: pointer;
      background: #fce4b5;
      box-shadow: 8px 8px 0 0 #dfb196;
      padding: 16px 86px;
      border-radius: 50px;
      font-size: 32px;
      text-align: center;
      font-weight: 600;
      display: inline-block;
      margin: 0;
      @media screen and (max-width: 944px) {
        font-size: 36px;
        padding: 4px 0;
        width: 68%;
      }
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
  }
  .title-rec {
    width: 688px;
    height: 100px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
      padding: 0 50px;
    }
  }
}
.wrap-section7 {
  padding-top: 56px;
  background: #ede2cb;
  @media screen and (max-width: 768px) {
    padding-top: 36px;
  }
  .section7-intro {
    z-index: 1;
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 48px;
      @media screen and (max-width: 575px) {
        margin-bottom: 30px;
      }
    }
    .outline {
      position: absolute;
      border: solid 1px #bb6b5e;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      top: 16px;
      left: 16px;
      z-index: -1;
      @media screen and (max-width: 575px) {
        top: 8px;
        left: 8px;
      }
    }
    .main {
      display: flex;
      padding: 24px;
      background: white;
      border-radius: 8px;
      align-items: center;
      @media screen and (max-width: 575px) {
        padding: 16px;
      }
    }
    .section7-intro-icon {
      width: 160px;
      height: 160px;
      margin-right: 24px;
      flex-shrink: 0;
      @media screen and (max-width: 575px) {
        width: 50px;
        height: 50px;
        margin-right: 12px;
      }
    }
    .section7-right {
      .section7-intro-name {
        font-size: 24px;
        margin: 0;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
        @media screen and (max-width: 575px) {
          font-size: 16px;
        }
      }
      .reccommend-heart {
        width: 190px;
        height: 26px;
        margin: 12px 0;
        @media screen and (max-width: 768px) {
          width: 160px;
          height: auto;
          margin: 18px 0;
        }
        @media screen and (max-width: 575px) {
          width: 100px;
          height: auto;
          margin: 8px 0;
        }
      }
      .section7-intro-text {
        font-size: 24px;
        margin: 0;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
        @media screen and (max-width: 575px) {
          font-size: 14px;
        }
      }
    }
  }
  .title-info {
    width: 891px;
    height: 100px;
    margin: 106px auto 56px;
    @media screen and (max-width: 944px) {
      width: 100%;
      height: auto;
      padding: 0 35px;
    }
    @media screen and (max-width: 768px) {
      margin: 64px auto 48px;
    }
  }
  .info-list {
    text-align: center;
    width: 1009px;
    margin: 0 auto;
    @media screen and (max-width: 944px) {
      width: 100%;
      padding: 0 85px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 24px;
    }
    .list-item {
      display: flex;
      align-items: center;
      &:not(:last-of-type) {
        margin-bottom: 40px;
        @media screen and (max-width: 768px) {
          margin-bottom: 18px;
        }
      }
      p.item-content {
        font-size: 36px;
        margin: 0;
        text-align: left;
        @media screen and (max-width: 944px) {
          font-size: 4vmin;
          word-break: break-all;
        }
        @media screen and (max-width: 575px) {
          font-size: 3.5vmin;
        }
      }
      .list-title {
        font-size: 36px;
        position: relative;
        width: 220px;
        margin: 0 40px 0 0;
        flex-shrink: 0;
        @media screen and (max-width: 768px) {
          margin: 0 12px 0 0;
          width: 85px;
          font-size: 18px;
        }
        p {
          font-size: 36px;
          margin: 0;
          position: relative;
          z-index: 1;
          background: url("../images/info-titile-bg.png") no-repeat center
            bottom -8px;
          background-size: 100% auto;
          white-space: nowrap;
          height: 46px;
          @media screen and (max-width: 768px) {
            font-size: 18px;
            height: 28px;
            background: url("../images/info-titile-bg.png") no-repeat center
              bottom 0px;
            background-size: 100% auto;
          }
        }
      }
    }
  }
  .wrap-map {
    padding: 56px 0 120px;
    text-align: center;
    @media screen and (max-width: 944px) {
      padding: 56px 70px 120px;
    }
    @media screen and (max-width: 768px) {
      padding: 24px 24px 80px;
    }
    .frame-map {
      width: 800px;
      height: 600px;
      @media screen and (max-width: 944px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
