@charset "UTF-8";
/*- common -*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PingFangTC", 微軟正黑體, "Roboto Slab", serif;
  background: #fcf2ec;
  color: #483429;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  /* 消圖片下面白邊 */
  vertical-align: middle;
}

img.object-fit-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img.object-fit-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .phonemode-hidden {
    display: none;
  }
}

@media screen and (max-width: 944px) {
  .phonemode-show {
    display: block;
  }
}

/*- header -*/
header.header {
  height: 80px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}

/*- main -*/
.fixed-btn-golight {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 1000;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.1);
}

.fixed-btn-golight.active {
  display: block;
}

.fixed-btn-golight .btn-primary {
  background: #f47a8c;
  -webkit-box-shadow: 8px 8px 0 0 #e3324c;
          box-shadow: 8px 8px 0 0 #e3324c;
  padding: 24px 80px;
  border-radius: 50px;
  font-size: 48px;
  color: white;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  width: 85%;
  -webkit-animation: scaleBtn 1.5s infinite linear;
          animation: scaleBtn 1.5s infinite linear;
  max-width: 600px;
  margin: 16px 0;
}

@media screen and (max-width: 1440px) {
  .fixed-btn-golight .btn-primary {
    font-size: 28px;
    padding: 18px 80px;
    width: 60%;
  }
}

@media screen and (max-width: 944px) {
  .fixed-btn-golight .btn-primary {
    font-size: 36px;
    padding: 16px 0;
    width: 85%;
    -webkit-box-shadow: 3px 5px 0 0 #e3324c;
            box-shadow: 3px 5px 0 0 #e3324c;
  }
}

@media screen and (max-width: 768px) {
  .fixed-btn-golight .btn-primary {
    font-size: 24px;
  }
}

@-webkit-keyframes scaleBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.wrap-kv {
  background: url("../../../img/2022/03/bg-section01.png") no-repeat center bottom 60px;
  background-size: 100% auto;
  position: relative;
  padding: 56px 75px 0;
}

@media screen and (max-width: 1440px) {
  .wrap-kv {
    padding: 24px 90px 0;
  }
}

@media screen and (max-width: 944px) {
  .wrap-kv {
    padding: 0 0px 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@media screen and (max-width: 944px) {
  .wrap-kv .kv-pc {
    display: none;
  }
}

.wrap-kv .kv-mobile {
  display: none;
}

@media screen and (max-width: 944px) {
  .wrap-kv .kv-mobile {
    display: block;
  }
}

.wrap-kv .wrap-btn {
  position: absolute;
  bottom: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .wrap-kv .wrap-btn {
    bottom: 36px;
  }
}

@media screen and (max-width: 944px) {
  .wrap-kv .wrap-btn {
    position: relative;
    bottom: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-kv .wrap-btn {
    padding: 0 24px;
  }
}

.wrap-kv .btn-primary {
  background: #f47a8c;
  -webkit-box-shadow: 8px 8px 0 0 #e3324c;
          box-shadow: 8px 8px 0 0 #e3324c;
  padding: 24px 80px;
  border-radius: 50px;
  font-size: 48px;
  color: white;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  -webkit-animation: scaleBtn 1.5s infinite linear;
          animation: scaleBtn 1.5s infinite linear;
}

@media screen and (max-width: 1440px) {
  .wrap-kv .btn-primary {
    font-size: 28px;
    padding: 18px 80px;
  }
}

@media screen and (max-width: 944px) {
  .wrap-kv .btn-primary {
    font-size: 36px;
    padding: 16px 0;
    width: 100%;
    -webkit-box-shadow: 3px 5px 0 0 #e3324c;
            box-shadow: 3px 5px 0 0 #e3324c;
  }
}

@media screen and (max-width: 768px) {
  .wrap-kv .btn-primary {
    font-size: 24px;
  }
}

.wrap-kv .btn-golight.active {
  position: fixed;
}

@keyframes scaleBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.phraphrom-love-container {
  max-width: 1248px;
  margin: 0 auto;
  position: relative;
  padding: 0 24px;
}

.section-title {
  max-width: 720px;
  max-height: 160px;
}

.wrap-section2 {
  margin-bottom: 55px;
}

.wrap-section2 .section2-title {
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
  margin: 64px auto 50px;
}

@media screen and (max-width: 944px) {
  .wrap-section2 .section2-title {
    padding: 50px 75px 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) {
  .wrap-section2 .section2-title {
    padding: 24px 45px 0;
  }
}

.wrap-section2 .section2-intro {
  background: #ffdbdd;
  border-radius: 8px;
  padding: 20px 16px;
  position: relative;
}

.wrap-section2 .section2-intro .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-section2 .section2-intro .outline {
  position: absolute;
  border: solid 1px #f47a8c;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  top: 16px;
  left: 16px;
  z-index: -1;
}

@media screen and (max-width: 575px) {
  .wrap-section2 .section2-intro .outline {
    top: 8px;
    left: 8px;
  }
}

.wrap-section2 .section2-intro .section2-intro-icon {
  width: 80px;
  height: 80px;
  margin-right: 16px;
}

@media screen and (max-width: 944px) {
  .wrap-section2 .section2-intro .section2-intro-icon {
    width: 100px;
    height: 100px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section2 .section2-intro .section2-intro-icon {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section2 .section2-intro .section2-intro-icon {
    width: 50px;
    height: 50px;
  }
}

.wrap-section2 .section2-intro .section2-intro-text {
  margin: 0;
  font-size: 24px;
}

@media screen and (max-width: 944px) {
  .wrap-section2 .section2-intro .section2-intro-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section2 .section2-intro .section2-intro-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section2 .section2-intro .section2-intro-text {
    font-size: 14px;
  }
}

.wrap-section2 .bg-road {
  position: absolute;
  width: 200px;
  height: 160px;
  top: -160px;
  right: 40px;
}

@media screen and (max-width: 944px) {
  .wrap-section2 .bg-road {
    display: none;
  }
}

.wrap-section3 {
  background: #ffeaeb;
  padding-bottom: 35px;
}

.wrap-section3 .warp-section3-title {
  padding-top: 50px;
  background: url("../../../img/2022/03/bg-wave-pink-01.png") #fcf2ec no-repeat center top;
  background-size: 100% auto;
}

@media screen and (max-width: 944px) {
  .wrap-section3 .warp-section3-title {
    padding: 50px 65px 0;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section3 .warp-section3-title {
    padding: 50px 25px 0;
  }
}

.wrap-section3 .section3-title {
  margin: 0 auto 54px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .wrap-section3 .section3-title {
    margin: 0 auto 24px;
  }
}

.wrap-section3 .section3-intro {
  background: white;
  border-radius: 8px;
  position: relative;
  margin-bottom: 70px;
  z-index: 1;
}

@media screen and (max-width: 944px) {
  .wrap-section3 .section3-intro {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section3 .section3-intro {
    margin-bottom: 40px;
  }
}

.wrap-section3 .section3-intro .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  padding-left: 16px;
  background: white;
  border-radius: 8px;
}

@media screen and (max-width: 944px) {
  .wrap-section3 .section3-intro .main {
    height: 90px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section3 .section3-intro .main {
    height: auto;
    padding: 2px 0 2px 16px;
  }
}

.wrap-section3 .section3-intro .outline {
  content: "";
  position: absolute;
  border: solid 1px #e87c4b;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  top: 16px;
  left: 16px;
  z-index: -1;
}

@media screen and (max-width: 575px) {
  .wrap-section3 .section3-intro .outline {
    top: 8px;
    left: 8px;
  }
}

.wrap-section3 .section3-intro .section3-intro-icon {
  width: 240px;
  height: 158px;
  margin-right: 16px;
}

@media screen and (max-width: 944px) {
  .wrap-section3 .section3-intro .section3-intro-icon {
    max-width: 240px;
    max-height: 158px;
    width: 25%;
    height: auto;
    min-width: 165px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section3 .section3-intro .section3-intro-icon {
    margin-right: 0;
    margin-bottom: 0px;
    width: 10%;
    min-width: 100px;
    -webkit-transform: translate(-10px, -12px);
            transform: translate(-10px, -12px);
  }
}

.wrap-section3 .section3-intro .section3-intro-text {
  margin: 0;
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 944px) {
  .wrap-section3 .section3-intro .section3-intro-text {
    padding-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section3 .section3-intro .section3-intro-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section3 .section3-intro .section3-intro-text {
    padding-right: 16px;
    font-size: 14px;
  }
}

.wrap-section3 .section3-intro .section3-intro-step {
  height: 110px;
  width: 64px;
  max-height: 110px;
  max-width: 48px;
  margin-right: 69px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

@media screen and (max-width: 944px) {
  .wrap-section3 .section3-intro .section3-intro-step {
    display: none;
  }
}

.wrap-section3 .bg-flower {
  position: absolute;
  width: 113px;
  height: 171px;
  top: -165px;
  right: 98px;
}

@media screen and (max-width: 944px) {
  .wrap-section3 .bg-flower {
    display: none;
  }
}

.wrap-section3 .bg-shadow {
  position: absolute;
  width: 260px;
  height: 257px;
  top: -223px;
  left: 54px;
}

@media screen and (max-width: 944px) {
  .wrap-section3 .bg-shadow {
    width: 220px;
    height: auto;
    top: -190px;
    left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section3 .bg-shadow {
    width: 200px;
    height: auto;
    top: -175px;
    left: 24px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section3 .bg-shadow {
    width: 135px;
    height: auto;
    top: -115px;
    left: 24px;
  }
}

.wrap-section4 {
  background: url("../../../img/2022/03/bg-wave-og-01.png") #ffeaeb no-repeat center bottom;
  background-size: 100% auto;
}

.wrap-section4 .section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

@media screen and (max-width: 575px) {
  .wrap-section4 .section4 {
    padding: 0 18px;
  }
}

.wrap-section4 .section4 .card {
  max-width: 322px;
  max-height: 424px;
}

@media screen and (max-width: 944px) {
  .wrap-section4 .section4 .card {
    width: 279px;
    height: 368px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section4 .section4 .card {
    width: 40%;
    height: auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section4 .section4 .card {
    width: 30%;
    margin-right: 16px;
  }
}

.wrap-section4 .section4 .section4-right {
  margin-left: 56px;
}

@media screen and (max-width: 944px) {
  .wrap-section4 .section4 .section4-right {
    margin-left: 24px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section4 .section4 .section4-right {
    margin-left: 0;
  }
}

.wrap-section4 .section4 .section4-right .pc-section4-title {
  margin-bottom: 70px;
}

@media screen and (max-width: 944px) {
  .wrap-section4 .section4 .section4-right .pc-section4-title {
    display: none;
  }
}

.wrap-section4 .section4 .section4-right .section4-text {
  font-size: 24px;
  background: white;
  padding: 24px 26px;
  border-radius: 8px;
}

@media screen and (max-width: 944px) {
  .wrap-section4 .section4 .section4-right .section4-text {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section4 .section4 .section4-right .section4-text {
    font-size: 24px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section4 .section4 .section4-right .section4-text {
    font-size: 14px;
    padding: 12px;
  }
}

.wrap-section4 .mobile-section4-title {
  display: none;
}

@media screen and (max-width: 944px) {
  .wrap-section4 .mobile-section4-title {
    display: block;
    margin: 0 65px 50px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section4 .mobile-section4-title {
    margin: 0 24px 24px;
  }
}

.wrap-section4 .title-project {
  margin: 90px auto 56px;
  width: 550px;
  height: 100px;
}

@media screen and (max-width: 944px) {
  .wrap-section4 .title-project {
    width: 100%;
    height: auto;
    padding: 0 130px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section4 .title-project {
    width: 100%;
    height: auto;
    padding: 0 70px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section4 .title-project {
    margin: 36px auto;
  }
}

.wrap-section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 575px) {
  .wrap-section5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrap-section5 .wrap-plan-card {
  position: relative;
}

.wrap-section5 .wrap-plan-card:first-of-type {
  margin-right: 80px;
  margin-left: 24px;
}

@media screen and (max-width: 944px) {
  .wrap-section5 .wrap-plan-card:first-of-type {
    margin-right: 48px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section5 .wrap-plan-card:first-of-type {
    margin-right: 24px;
    margin-bottom: 48px;
  }
}

.wrap-section5 .wrap-plan-card:last-of-type {
  margin-right: 24px;
}

@media screen and (max-width: 575px) {
  .wrap-section5 .wrap-plan-card:last-of-type {
    margin-left: 24px;
  }
}

.wrap-section5 .wrap-plan-card .tag {
  width: 119px;
  height: 63px;
  position: absolute;
  left: -9px;
  top: 19px;
}

@media screen and (max-width: 944px) {
  .wrap-section5 .wrap-plan-card .tag {
    width: 70px;
    height: auto;
  }
}

@media screen and (max-width: 944px) {
  .wrap-section5 .wrap-plan-card {
    width: calc(50% - 64px);
  }
}

@media screen and (max-width: 575px) {
  .wrap-section5 .wrap-plan-card {
    width: calc(100% - 48px);
  }
}

.wrap-section5 .outline {
  position: absolute;
  border: solid 1px #e87c4b;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  top: 16px;
  left: 16px;
  z-index: -1;
}

@media screen and (max-width: 575px) {
  .wrap-section5 .outline {
    top: 8px;
    left: 8px;
  }
}

.wrap-section5 .plan-card {
  text-align: center;
  width: 465px;
  max-width: 465px;
  max-height: 500px;
  border-radius: 8px;
  padding: 30px 0;
  background: url("../../../img/2022/03/dec-bg-wave.png") #fff no-repeat center bottom;
  background-size: 100% auto;
}

@media screen and (max-width: 944px) {
  .wrap-section5 .plan-card {
    width: 100%;
  }
}

.wrap-section5 .plan-card .section5-intro-icon {
  width: 120px;
  height: 120px;
  margin: 0 auto 16px;
}

@media screen and (max-width: 944px) {
  .wrap-section5 .plan-card .section5-intro-icon {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section5 .plan-card .section5-intro-icon {
    max-width: 80px;
    max-height: 80px;
  }
}

.wrap-section5 .plan-card .plan-card-title {
  font-size: 48px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 16px;
}

@media screen and (max-width: 944px) {
  .wrap-section5 .plan-card .plan-card-title {
    font-size: 4vmin;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section5 .plan-card .plan-card-title {
    font-size: 24px;
  }
}

.wrap-section5 .plan-card .plan-card-price {
  font-size: 56px;
  font-weight: 600;
  color: #ed3a5c;
  margin: 0;
}

@media screen and (max-width: 944px) {
  .wrap-section5 .plan-card .plan-card-price {
    font-size: 5.5vmin;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section5 .plan-card .plan-card-price {
    font-size: 36px;
  }
}

.wrap-section5 .plan-card .plan-card-orign-price {
  font-size: 24px;
  margin: 16px 0;
  position: relative;
}

@media screen and (max-width: 944px) {
  .wrap-section5 .plan-card .plan-card-orign-price {
    font-size: 2vmin;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section5 .plan-card .plan-card-orign-price {
    font-size: 18px;
  }
}

.wrap-section5 .plan-card .plan-card-orign-price.opacity {
  opacity: 0;
}

.wrap-section5 .plan-card .plan-card-orign-price .orign-price-line {
  position: absolute;
  top: 0;
  left: 35%;
  right: 0;
  bottom: 0;
  width: 30%;
}

.wrap-section5 .plan-card .btn-primary {
  background: #f47a8c;
  -webkit-box-shadow: 8px 8px 0 0 #e3324c;
          box-shadow: 8px 8px 0 0 #e3324c;
  padding: 16px 86px;
  border-radius: 50px;
  font-size: 32px;
  color: #f9f9f9;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 944px) {
  .wrap-section5 .plan-card .btn-primary {
    font-size: 3.5vmin;
    padding: 16px 0;
    width: 70%;
    -webkit-box-shadow: 3px 5px 0 0 #e3324c;
            box-shadow: 3px 5px 0 0 #e3324c;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section5 .plan-card .btn-primary {
    font-size: 18px;
    padding: 12px 0;
    width: 85%;
  }
}

.wrap-section6 {
  background: url("../../../img/2022/03/bg-wave-og-02.png") #fcf2ec no-repeat center top;
  background-size: 100% auto;
}

@media screen and (max-width: 944px) {
  .wrap-section6 {
    background-size: cover;
  }
}

.wrap-section6 .wrap-btn {
  margin-top: 56px;
  margin-bottom: 90px;
  text-align: center;
}

@media screen and (max-width: 944px) {
  .wrap-section6 .wrap-btn {
    margin: 56px 24px 48px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section6 .wrap-btn {
    padding: 0;
  }
}

.wrap-section6 .wrap-btn .btn-secondary {
  cursor: pointer;
  background: #fce4b5;
  -webkit-box-shadow: 8px 8px 0 0 #dfb196;
          box-shadow: 8px 8px 0 0 #dfb196;
  padding: 16px 86px;
  border-radius: 50px;
  font-size: 32px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}

@media screen and (max-width: 944px) {
  .wrap-section6 .wrap-btn .btn-secondary {
    font-size: 36px;
    padding: 16px 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section6 .wrap-btn .btn-secondary {
    font-size: 24px;
  }
}

.wrap-section6 .title-rec {
  width: 688px;
  height: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .wrap-section6 .title-rec {
    width: 100%;
    height: auto;
    padding: 0 50px;
  }
}

.wrap-section7 {
  padding-top: 56px;
  background: #ffeaeb;
}

@media screen and (max-width: 768px) {
  .wrap-section7 {
    padding-top: 36px;
  }
}

.wrap-section7 .section7-intro {
  z-index: 1;
  position: relative;
}

.wrap-section7 .section7-intro:not(:last-of-type) {
  margin-bottom: 48px;
}

@media screen and (max-width: 575px) {
  .wrap-section7 .section7-intro:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.wrap-section7 .section7-intro .outline {
  position: absolute;
  border: solid 1px #f47a8c;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  top: 16px;
  left: 16px;
  z-index: -1;
}

@media screen and (max-width: 575px) {
  .wrap-section7 .section7-intro .outline {
    top: 8px;
    left: 8px;
  }
}

.wrap-section7 .section7-intro .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  background: white;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .wrap-section7 .section7-intro .main {
    padding: 16px;
  }
}

.wrap-section7 .section7-intro .section7-intro-icon {
  width: 160px;
  height: 160px;
  margin-right: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 575px) {
  .wrap-section7 .section7-intro .section7-intro-icon {
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
}

.wrap-section7 .section7-intro .section7-right .section7-intro-name {
  font-size: 24px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .wrap-section7 .section7-intro .section7-right .section7-intro-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section7 .section7-intro .section7-right .section7-intro-name {
    font-size: 16px;
  }
}

.wrap-section7 .section7-intro .section7-right .reccommend-heart {
  width: 190px;
  height: 26px;
  margin: 12px 0;
}

@media screen and (max-width: 768px) {
  .wrap-section7 .section7-intro .section7-right .reccommend-heart {
    width: 160px;
    height: auto;
    margin: 18px 0;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section7 .section7-intro .section7-right .reccommend-heart {
    width: 100px;
    height: auto;
    margin: 8px 0;
  }
}

.wrap-section7 .section7-intro .section7-right .section7-intro-text {
  font-size: 24px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .wrap-section7 .section7-intro .section7-right .section7-intro-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section7 .section7-intro .section7-right .section7-intro-text {
    font-size: 14px;
  }
}

.wrap-section7 .title-info {
  width: 891px;
  height: 100px;
  margin: 106px auto 56px;
}

@media screen and (max-width: 944px) {
  .wrap-section7 .title-info {
    width: 100%;
    height: auto;
    padding: 0 35px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section7 .title-info {
    margin: 64px auto 48px;
  }
}

.wrap-section7 .info-list {
  text-align: center;
  width: 1009px;
  margin: 0 auto;
}

@media screen and (max-width: 944px) {
  .wrap-section7 .info-list {
    width: 100%;
    padding: 0 85px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section7 .info-list {
    padding: 0 24px;
  }
}

.wrap-section7 .info-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-section7 .info-list .list-item:not(:last-of-type) {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .wrap-section7 .info-list .list-item:not(:last-of-type) {
    margin-bottom: 18px;
  }
}

.wrap-section7 .info-list .list-item p.item-content {
  font-size: 36px;
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 944px) {
  .wrap-section7 .info-list .list-item p.item-content {
    font-size: 4vmin;
    word-break: break-all;
  }
}

@media screen and (max-width: 575px) {
  .wrap-section7 .info-list .list-item p.item-content {
    font-size: 3.5vmin;
  }
}

.wrap-section7 .info-list .list-item .list-title {
  font-size: 36px;
  position: relative;
  width: 220px;
  margin: 0 40px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .wrap-section7 .info-list .list-item .list-title {
    margin: 0 12px 0 0;
    width: 85px;
    font-size: 18px;
  }
}

.wrap-section7 .info-list .list-item .list-title p {
  font-size: 36px;
  margin: 0;
  position: relative;
  z-index: 1;
  background: url("../../../img/2022/03/info-titile-bg.png") no-repeat center bottom -8px;
  background-size: 100% auto;
  white-space: nowrap;
  height: 46px;
}

@media screen and (max-width: 768px) {
  .wrap-section7 .info-list .list-item .list-title p {
    font-size: 18px;
    height: 28px;
    background: url("../../../img/2022/03/info-titile-bg.png") no-repeat center bottom 0px;
    background-size: 100% auto;
  }
}

.wrap-section7 .wrap-map {
  padding: 56px 0 120px;
  text-align: center;
}

@media screen and (max-width: 944px) {
  .wrap-section7 .wrap-map {
    padding: 56px 70px 120px;
  }
}

@media screen and (max-width: 768px) {
  .wrap-section7 .wrap-map {
    padding: 24px 24px 80px;
  }
}

.wrap-section7 .wrap-map .frame-map {
  width: 800px;
  height: 600px;
}

@media screen and (max-width: 944px) {
  .wrap-section7 .wrap-map .frame-map {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */